body {
    background-color: white;
}

.Boxes {
    position: absolute;
    left: 26%;
    top: 14%;
}
#translateText{
    position: absolute;
    overflow: auto;
    outline: none;
    resize: none;
    float: left;
    left: -15%;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;  
    width : 190%; 
    padding:1.3em;
    padding-right: 4.4%;
    border-bottom:0.1em solid #DDD ;
    border-left:0.1em solid #DDD ;
    border-top:0.1em solid #DDD;
    border-right:0.1em solid #DDD;
    border-radius: 0.5em 0em 0em 0.5em;
}
#outputArea{
    background-color: #F5F5F5;
    position: relative;
    overflow: auto;
    outline: none;
    resize: none;
    float: left;
    left: 185%;
    bottom: 50%;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    width : 190%; 
    padding:1.3em;
    padding-left: 4.4%;
    border:0.1em solid #DDD ;
    border-bottom:0.1em solid #DDD ;
    border-left:0.1em solid #DDD;
    border-top:0.1em solid #DDD;
    border-right:0.1em solid #DDD ;
    border-radius: 0em 0.5em 0.5em 0em;
}
#changeSideButton {
background-image:url('assets/Arrows.png');    
background-size: cover;
background-color:white;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 100%;
    left: 178%;
    cursor: pointer;
    font-size: 20pt;
    border:1px 
}
#english {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size:20pt;
    top: -27%;
    width: fit-content;
}
#pigLatin {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size:20pt;
    top: -27%;
    width: fit-content; 
}
#clear {
    background-image:url("assets/Clear.png");
    background-size: cover;
    background-color: transparent;
    position: absolute;
    height:30px;
    width:30px;
    border:1px;
    left: 170%;
    top: 3%;
    cursor:pointer;
}
.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: aliceblue;
    text-align: center;
}
#Notes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}